body {
  font-size: 16px;
  line-height: 1.2;
  background-color: #ffffff;
  color: 000000;
}

p + p {
  margin-top: 1em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-family: helvetica, sans-serif;
  font-weight: 800;
  font-size: 4em;
  line-height: 1;
  padding-top: 50px;
  padding-bottom: 25px;
}

h2 {
  font-family: helvetica, sans-serif;
  font-weight: 300;
  font-size: 3em;
}

h3 {
  font-family: helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.2;
  padding-bottom: 25px;
}

.author {
  font-family: helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2em;
}

figcaption {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: .8;
  font-style: italic;
}
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  color: blue;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}

a:active {
  color: black;
}
